:host {
  swiper-container {

    @media screen and (min-width: 375px) {
      width: 350px;
      height: auto;
    }

    @media screen and (min-width: 500px) {
      width: 500px;
      height: auto;
    }

    @media screen and (min-width: 1024px) {
      width: 1000px;
      height: auto;
    }

    @media screen and (min-width: 1920) {
      width: 1500px;
      height: auto;
    }
  }

  swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ::part(button-next),
  ::part(button-prev) {
    color: #3f3f3f;
  }
}